<div class="flex flex-col min-h-screen">
  <header class="p-2">
    <app-text [isBold]="true" [textAlign]="'right'">Angular Template</app-text>
  </header>
  <main class="flex-1 p-3">
    <app-button-holder
      ><app-button class="m-2">Tweede Test</app-button> <app-button class="m-2">Test</app-button></app-button-holder
    >
    <app-heading [size]="'lg'">Heading</app-heading>
    <app-icon [name]="'vial'" [size]="'lg'"></app-icon>
    <app-input-text></app-input-text>
    <app-form-validation [errorMessage]="'Test error message'"></app-form-validation>
    <app-input-password-with-toggle></app-input-password-with-toggle>
    <app-checkbox formControl="checkboxValue" [label]="'label'"></app-checkbox>
    <app-link>Link</app-link>
  </main>
  <footer class="p-2">
    <app-text [textAlign]="'left'">made by Yannick</app-text>
  </footer>
</div>
